.nav{
    background-color: beige;
    width:100%;
    height:7vh;
    
}
.headerUl{
    list-style: none;
    line-height: 7vh;
    text-align: right;
    margin:0;
}
.mainIcon{
    height: 30px;
    position:relative;
    float: left;
    top:10px;
}
.headerLi{
    width:100px;
    text-align: center;
    display: inline-block;
}
